.header {
  background-color: aquamarine;
}

.container {
  display: flex;
  justify-content: space-between;
}

.ulLinks {
  display: flex;
  align-items: center;
}

.ulLinks li:not(:last-child) {
  margin-right: 5px;
}
